* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background-color: #a9a9a9;
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(210px, 100%);
    gap: 10px 15px;
}

.item {
    border: 2px solid black;
    background-color: white;
    font-size: 30px;
    padding: 10px;
}