* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body > .container {
    background-image: url(./01-img/space-stars-background-illustration-night-sky_160081-132.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #a9a9a9;
}

.paragraph {
    font-size: 30px;
    font-family: 'Inconsolata', monospace;
}

.header {
    display: flex;
    flex-basis: 100%; /* quando o item está dentro do container, é boa pratica usar o flexbasis ao invés do width */
    padding: 10px;
    justify-content: center;
    background-color: #273c75;
    opacity: 95%;
    border: 2px solid #000000;
    font-weight: 600;
}

.main-content {
    display: flex;
    flex: 1 0 400px;
    padding: 20px;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center; /* horizontal */
    align-items: center; /* vertical */ 
    align-content: center; /* melhora a responsividade da distancia entre os itens */
}

.item {
    display: flex;
    width: 350px;
    height: 240px;
    border: 2px solid black;
    background-color: white;
    justify-content: center;
    align-items: center;
    cursor: pointer;    
}

.item:hover {
    border-color: #ff0044;
}

.footer {
    display: flex;
    flex-basis: 100%;
    padding: 10px;
    justify-content: center;
    background-color: #273c75;
    opacity: 95%;
    border: 2px solid #000000;
    font-weight: 600;
}